# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/netbeans
diem/target/test-classes/.netbeans_automatic_build

diem/target/classes/.netbeans_automatic_build

diem/nb-configuration.xml

diem/target/classes/id/diem/dbtests.class

diem/src/main/java/id/diem/dbtests.java

explorer/src/main/java/com/diemexplorer/explorer/JSONRPCtoDB/myjsonrpc.java

explorer/src/main/java/com/diemexplorer/explorer/JSONRPCtoDB/testing.java

explorer/nbactions.xml
