<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head xmlns:th="https://www.thymeleaf.org">
        <title>TODO supply a title</title>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table >
                <tr>
                    <th>ID</th>
                    <th>senderid</th>
                    <th>public key</th>
                    <th>gas preis</th>
                    <th>gas Waehrung</th>
                    <th>gas verwendet</th>
                    <th>amount</th>
                    <th>currency</th>
                </tr>
                <tr th:each=" date : ${daten}">
                    <td  th:text="${date.transactionID}"></td>
                    <td th:text="${date.sender_id}"></td>
                    <td th:text="${date.public_key}"></td>
                    <td th:text="${date.gas_unit_price}"></td>
                    <td th:text="${date.gas_currency}"></td>
                    <td th:text="${date.gas_used}"></td>
                    <td th:text="${date.amount}"></td>
                    <td th:text="${date.currency}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
