.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Ab hier eigene styles.*/
footer{
    position: absolute;
    background-color: #42318C;
    text-align: center;
    height: 56px;
    width: 100%;
    bottom: 0;
    color: #FFFFFF;
}

header{
    background-color: #42318C;
    color: white;
    top: 0;
    width: 100%;
    height: 56px;;
    margin-top: 0%;
    color: #FFFFFF;
}

#header_table{
    position: absolute;
    width: 40vw;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

#footer_table{
    position: absolute;
    width: 20vw;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

body{
    text-align: center;
    color: #42318C;
}

caption {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    color: #42318C;
    caption-side: top;
}
    

#table_transactions {
    position: absolute;
    width: 80vw;
    height: 40px;
    left: 0;
    right: 0;
    top: 350px;
    margin: auto;
    border-radius: 8px;
    border-spacing: 0;
    border-collapse: separate;
    font-family: Roboto;
}

#table_transactions td, #table_transactions th {
    border: 1px solid #ddd;
    padding: 8px;  
}

#table_transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1B0184;
    color: white;
}

#table_transactions tr:first-child th:first-child,
#table_transactions tr:first-child td:first-child {
    border-top-left-radius:10px
}
#table_transactions tr:first-child th:last-child,
#table_transactions tr:first-child td:last-child {
    border-top-right-radius:10px
}

#table_transactions tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

#table_transactions tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

#table_transactions tr:nth-child(even){
    background-color: #f0f2f3;
}

#table_transactions tr:hover {
    background-color: #ddd;
}

#general_information{
    background-color: #1B0184;
    color: #FFFFFF;
}

#main_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 106px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: 94px;
    color: #42318C;
}

form.search input {
    text-align: center;
    width: 97%;
    max-width: 400px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    border: none;
    background: #F0F3F2;
    border-radius: 8px 0px 0px 8px;
    box-sizing: border-box;
}

form.search button {
    width: 3%;
    max-width: 400px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: auto;
    border: none;
    color: #FFFFFF;
    background: #42318C;
    border-radius: 0px 8px 8px 0px;
    box-sizing: border-box;
    cursor: pointer;
}

header a{
    color: #FFFFFF;
}
footer a{
    color: #FFFFFF;
}
