.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Ab hier eigene styles.*/
footer{
    background-color: #42318C;
    text-align: center;
    height: 56px;
    width: 100%;
    bottom: 0;
    position:relative;
    color: #FFFFFF;
    overflow: hidden;
}
footer a{
    
    text-align: center;
    padding: 56px 20px;
    text-decoration: none;
}

header{
    background-color: #42318C;
    top: 0;
    width: 100%;
    height: 56px;;
    margin-top: 0%;
    color: #FFFFFF;
}
header a{
    text-align: center;
    padding: 56px 40px;
    text-decoration: none;
}
/* #header_bar{
    width: 70%;
    
} */
header b{
    padding: 20px 200px;
}

body{
    text-align: center;
    color: #42318C;
}

table{
    width: 70%;
    margin:auto;
    max-width: 80%;
}
caption{
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}
#general_information caption{
    color: #42318C;
}

#general_information{
    background-color: #42318C;
    color: #FFFFFF;
    width: 70%;
}

#main_title{
    font-size: 80px;
    color: #42318C;
}

#search_bar{
    width: 700px;
    height: 40px;
}

header a{
    color: #FFFFFF;
}
footer a{
    color: #FFFFFF;
}
