/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

html * {
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Ab hier eigene Styles. */

header, footer, #general_information, #chart-bar, #select-chartdata, #select-chartinterval, table th, #submit-button, #search_button, #searchbox {
  background-color: #42318C;
  color: #FFFFFF;
}

#main_title, caption {
  color: #42318C;
}

a, Link {
  text-decoration: none;
  color: #42318C;
}
a:hover, Link:hover {
  /* font-size:18px; */
  text-decoration: underline;
}

header, footer {
  font-family: Roboto;
  width: 100%;
  height: 56px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a, footer a, header Link, footer Link {
  width: 15vh;
  color: #FFFFFF;
}
.header_wrapper {
  width: 80%;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content:center; */
}
.header_left {
  display: flex;
  text-align: left;
  align-items: center;
  /* justify-content: left; */
  /* width:20vh; */
  /* padding: 20%; */
}
.header_left a {
  /* width: 10vh; */
}
.header_right {
  display: flex;
  justify-content: right;
  text-align: right;
}
footer {
  bottom: 0;
  position: absolute;
}

#wrapper {
  padding-bottom: 10vh;
}
#site {
  position: relative;
  min-height: 100vh;
}

.contact-wrapper {
  max-width: 80%;
  width: 80%;
  margin: auto;
  max-height:fit-content;
  height:55vh;
  background-color: #F0F3F2;
  color: #42318C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-left {
  padding: 5%;
  width: 40%;
  max-width: 40%;
  text-align: left;
}
.contact-right {
  width: 40%;
  height: 80%;
  max-width: 40%;
  margin: 5%;
  background-color: #FFFFFF;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
}

.contact_form{
  padding: 8px;
  margin: 1vh;
}

#contact_form_label{
  font-size: 20px;
  margin: 1vh;
  display:inline-block;
}

.person{
  /* display: flexbox;
  flex-flow: row wrap; */
  /* max-width: 50vh; */
  width: 50%;
  height: 50%;
}

#submit-button, #name, #email, #message{
  border-radius:8px;
  border: none;
}

#message{
  resize: none;
}

#name, #email, #message{
  width: 100%;
  box-sizing: border-box;
  margin-top: 1%;
  /* border-radius: 10px; */
  border: none;
}

caption{
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}

form.search input {
  width: 40%;
  height: 4vh;
  max-width: 50%;
  padding: 8px;
  /* margin: auto; */
  font-size: 18px;
  border: none;
  background: #F0F3F2;
  border-radius: 8px 0px 0px 8px;
}

input:focus {
  outline: none !important;
  /* border:1px solid red; */
  box-shadow: 0 0 3px #42318C;
}

form.search button {
  width: 40px;
  height: 4vh;
  padding: 8px;
  /* margin: auto; */
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

form.search select {
  height: 4vh;
  padding: 8px;
}

#search_icon{
  height: 20px;
  width: 20px;
}

/* Ab hier Daniels Code. */

#general_information{
  width: 80%;
  height: 40px;
  margin: auto;
  max-width: 80%;
}

#chart-caption-wrapper {
  width: 80%;
  height: 40px;
  max-width: 80%;
  margin: auto;
}

#chart-caption {
  font-size: 26px;
  font-weight: bold;
}

#chart-bar {
  width: 80%;
  height: 40px;
  margin: auto;
  max-width: 80%;
  border: 0px;
  border-radius: 10px 10px 0px 0px;
}

#select-chartdata {
  width: 12vh;
  height: 40px;
  max-width: 40%;
  /* float: left; */
  padding: 10px;
  border: 0px;
  border-radius: 10px 0px 0px 0px;
}

#select-chartinterval {
  width: 14vh;
  height: 40px;
  max-width: 40%;
  /* float: left; */
  padding: 10px;
  border: 0px;
  border-radius: 0px 0px 0px 0px;
}

select option {
  background: #42318C;
  color: #FFFFFF;
}

/* select option:hover {
  background-color: #42318C;
  box-shadow: #42318C;
} */

#chart-wrapper {
  width: 80%;
  height: 25vh;
  margin: auto;
  max-width: 80%;
}

#table-caption-wrapper {
  width: 80%;
  height: 40px;
  max-width: 80%;
  margin: auto;
}

#table-caption {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}

#table-checkboxes-wrapper {
  height: 28px;
}

#table-checkboxes-wrapper label {
  margin-right: 10px;
}

table {
  width: 80%;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  border-spacing: 0;
}

table caption {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}

table th {
  text-align: center;
  font-weight: 400;
}

table td, table th {
  padding: 8px;
  font-family: Roboto; 
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table tr:nth-child(even){
  background-color: #f0f2f3;
}

#main_title {
  font-size: 60px;
}
